body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.banner {
    background-color: rgb(8, 40, 91);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.card {
    width: 300px; /* Fijamos un ancho */
    height: 450px; /* Ajustamos la altura para que los botones entren sin desbordar */
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-decoration: none;
    display: inline-block; /* Para que las tarjetas se alineen en una fila */
    vertical-align: top; /* Alinea verticalmente las tarjetas */
    position: relative; /* Para controlar el posicionamiento de los botones */
}

.card img {
    width: 100%;
    height: 60%; /* Las imágenes ocuparán el 60% de la tarjeta */
    object-fit: cover; /* Asegura que las imágenes mantengan la proporción */
}

.card-body {
    padding: 15px;
    text-align: center;
    height: 40%; /* La descripción ocupará el 40% restante */
}

.d-flex {
    position: absolute;
    bottom: 10px; /* Los botones estarán en la parte inferior de la tarjeta */
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.btn {
    width: 48%; /* Los botones ocuparán la mitad del espacio cada uno */
    font-size: 0.9rem;
    padding: 10px;
}

.btn-primary {
    background-color: #0054A6;
}

.btn-danger {
    background-color: #D32F2F;
}

.card-title {
    font-size: 1.25rem;
    color: #0056b3;
    font-weight: bold;
    text-decoration: none;
}

.card-text {
    font-size: 1rem;
    color: #6c757d;
    font-weight: bold;
    text-decoration: none;
}

.card:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
}
